<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{mystyle.css}" href="mystyle.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/artikel/1">Artikel</a>
    </div>
</nav>
<form method="POST" action="/add" enctype="multipart/form-data">
    <div class="container-fluid Fdiv">
        <div class="row">
            <div class="col-6 d-flex align-items-center justify-content-center">
                <div class="foto-invoegen-container">
                    <div class="foto-invoegen">
                        <label for="file" style="cursor: pointer;">
                            <h1>+</h1>
                            <h5>Foto invoegen</h5>
                        </label>
                        <input type="file" id="file" name="file" accept="image/*" style="display:none;">
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center">
                <div class="form-container">
                    <div class="form-group">
                        <label for="plantnaam">Plantnaam ingeven:</label>
                        <input type="text" class="form-control" id="plantnaam" name="name">
                    </div>
                    <div class="form-group">
                        <label for="soort">Latijnse naam ingeven:</label>
                        <input type="text" class="form-control" id="soort" name="description">
                    </div>
                    <div class="form-group">
                        <label for="deadlines">Deadlines ingeven: (interval van het aantal dagen tussen dat je het water moet geven als nummer. bv. Als je om de 7 dagen water moet geven, geef dan 7 in.)</label>
                        <input type="number" class="form-control" id="deadlines" name="deadlines" min="1">
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Gereed</button>
    </div>
</form>
</body>
</html>
