<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plant Detail Page</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/mystyle.css(id=${id})}" href="/mystyle.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
    </div>
</nav>
<div class="container mt-5 Fdiv">
    <div class="row">
        <div class="col-md-6">
            <!--<div th:if="${plant.getImage() != null}">
                <img class="plant-image" th:attr="src=@{/get-plant-image(id=${id})}" alt="Plant Image">
            </div>-->
            <div>
                <img th:if="${plant.image != null}" th:src="@{${'/images/' + plant.image}}"
                     src="../static/images/default-plant-image.jpg" class="img-responsive" th:alt="${plant.name}">
                <img th:unless="${plant.image != null}" th:src="@{/images/default-plant-image.jpg}"
                     class="img-responsive" th:alt="${plant.name}">
            </div>
        </div>
        <div class="col-md-6">
            <h1 id="countdown" class="text-danger font-weight-bold"></h1>
            <script>
                var plantId = [[${plant.id}]];
                var deadlineDays = [[${plant.deadlines}]];
                var deadlineTimestamp = localStorage.getItem("plant_" + plantId + "_deadlineTimestamp");
                if (!deadlineTimestamp) {
                    deadlineTimestamp = Date.now() + (deadlineDays * 24 * 60 * 60 * 1000);
                    localStorage.setItem("plant_" + plantId + "_deadlineTimestamp", deadlineTimestamp);
                }
                setInterval(function () {
                    var now = Date.now();
                    var timeRemaining = deadlineTimestamp - now;
                    var daysRemaining = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
                    var hoursRemaining = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutesRemaining = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
                    var countdownElement = document.getElementById("countdown");
                    countdownElement.innerHTML = daysRemaining + " days, " + hoursRemaining + " hours, " + minutesRemaining + " minutes remaining";
                    if (timeRemaining <= 0) {
                        countdownElement.innerHTML = "I gave the plant water";
                        countdownElement.onclick = function () {
                            deadlineTimestamp = Date.now() + (deadlineDays * 24 * 60 * 60 * 1000);
                            localStorage.setItem("plant_" + plantId + "_deadlineTimestamp", deadlineTimestamp);
                            setInterval(arguments.callee, 1000);
                        };
                    }
                }, 1000);
            </script>
            <h1 th:text="${plant.name}">Plant Name</h1>
            <p th:text="${plant.description}">Plant Description: Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Architecto atque cupiditate error est illo iure quas quidem saepe unde, veritatis. Consequatur
                doloribus est expedita, neque quaerat recusandae ullam vitae.</p>
            <hr>
            <h2>Plant Watering needs</h2>
            <ul>
                <li><strong>Watering:</strong> <span th:text="${plant.deadlines}">Plant Watering Needs</span></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
