<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{mystyle.css}" href="mystyle.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/artikel/1">Artikel</a>
  </div>
</nav>
<div class="container-fluid">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6 col-sm-12">
      <div class="card border-danger">
        <div class="card-body">
          <h1 class="card-title text-center text-danger">ERROR</h1>
          <p class="card-text text-center">Sorry, an error has occurred.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>