<!DOCTYPE html>
<html lang="en">
<head>
    <title>Plantenverzorging</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{mystyle.css}" href="mystyle.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h1>Plantenverzorging</h1>
                <p>Welkom bij Plantenverzorging, de webapplicatie die je helpt om je planten gezond en gelukkig te
                    houden.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="/details">
                <img src="https://via.placeholder.com/300" class="img-responsive" alt="Plant 1">
            </a>
            <h2>Plant 1</h2>
            <p>Beschrijving van Plant 1</p>
        </div>
        <div class="col-md-4">
            <a href="/details">
                <img src="https://via.placeholder.com/300" class="img-responsive" alt="Plant 2">
            </a>
            <h2>Plant 2</h2>
            <p>Beschrijving van Plant 2</p>
        </div>
        <div class="col-md-4">
            <a href="/details">
                <img src="https://via.placeholder.com/300" class="img-responsive" alt="Plant 3">
            </a>
            <h2>Plant 3</h2>
            <p>Beschrijving van Plant 3</p>
        </div>
    </div>
    <div class="button-container">
        <a href="/add" class="btn btn-success btn-lg">Add</a>
        <a class="btn btn-danger btn-lg" style="margin-left: 10px;">Delete</a>
    </div>
</div>

</body>
</html>
